/* .login__wrapper{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    outline: 3px solid rgba(255,255,255,0.75);
    background-color: #4A5859;
    width: 85%;
    margin-top: 1em;
    padding: 1em;
}
.login__wrapper form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: auto;
    border: 2px solid #F4B860;
    margin: 0 auto;

}

.login__wrapper label{
    display: inline-block;
    width: 100%;
    max-width: 100%;
    font-size: clamp(1.5rem,1.5vw,2rem);
    color: white;
    font-weight: 400;
}
.login__wrapper input{
    display: block;

} */

.custom__columns-login{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    border-radius: 15px;
    padding: 1.9rem 1.2rem;
    text-align: center;
    background: #ffffff;
    border: 2px solid #1f2029;
    animation: slideLeft 900ms ease-in-out forwards;
}


@keyframes slideLeft {
    0%{
        transform: translateY(-300%);
    }
    100%{
        transform: translateY(0);
    }
}

@media(max-width:768px){
    .custom__columns-login{
        padding: 1rem;
    }
}
   

   @media(min-width:768px){
    .card{
        margin-top: calc(1em + 10%);
        width: 600px;
    }
    .field{
        font-size: clamp(1.5rem, 2vw , 3rem);
    }
    .title{
        font-size: clamp(2rem, 2.5vw, 3rem);
    }
    .btn{
        font-size: clamp(1.5rem, 2vw, 2.5rem);

    }
   }