
.form-addProduct{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
    height: 100%;
    border: 3px solid black;
    background-color: #000000;
    border-radius: 15px;
    padding: 1em;

}
