.clientInterface__map {
    display: flex;
    flex-direction: column;
    background-color: #2F2F2F;
    padding: .5em;
    border-radius: 15px;
    margin-top: 1em;
}

.clientInterface__map p {
    font-size: clamp(1.5rem, 1.5vw, 2rem);
    margin-bottom: .5em;
    background-color: #EAEAEA;
    padding: .5em;
    border-radius: 15px;
    font-weight: bold;
}

.clientInterface__map-btn-editData {
    font-size: clamp(1.5rem, 1.5vw, 2rem);
    margin: 0 auto;
    margin-top: .5em;
    width: 50%;
    border: none;
    border-radius: 5px;
    padding: .5rem;
    background-color: #1E90FF;
    color: white;
    font-weight: bold;
}

.clientInterface__map-btn-add {
    font-size: clamp(1.5rem, 1.5vw, 2rem);
    margin: 0 auto;
    margin-top: .5em;
    width: 50%;
    border: none;
    border-radius: 5px;
    padding: .5rem;
    background-color: rgba(59, 59, 66, 0.836);
    color: white;
    font-weight: bold;
}

.clientInterface__map-btn-showData {
    font-size: clamp(1.5rem, 1.5vw, 2rem);
    margin: 0 auto;
    margin-top: .5em;
    width: 50%;
    border: none;
    border-radius: 5px;
    padding: .5rem;
    background-color: rgba(255, 125, 65, 0.836);
    color: white;
    font-weight: bold;
}

.btns-div {
    display: flex;
    gap: 1rem;
    flex: auto;
    width: 75%;
    height: auto;
    max-width: 1200px;
    margin: 0 auto;
}

.debt__close-btn {
    font-size: clamp(1.5rem, 1.5vw, 2rem);
    margin: 0 auto;
    margin-top: .5em;
    width: 30%;
    border: none;
    border-radius: 5px;
    padding: .5rem;
    background-color: rgba(255, 38, 0, 0.836);
    color: white;
    font-weight: bold;
}

.debt__wrapper {
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 10px;
    background-color: #BFD7B5;
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
}

.debt__key {
    display: flex;
    flex-direction: column;
    outline: 3px solid rgba(255, 125, 65, 0.836);
    border-radius: 15px;
    padding: .5rem;
    margin-bottom: 15px;
}

.debt__key p {
    font-size: clamp(1.5rem, 1.5vw, 2rem);
    margin-bottom: .5em;
    background-color: #E7EFC5;
    padding: .5em;
    border-radius: 15px;
    font-weight: bold;
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

.debt__key-btnDelete {
    background-color: rgba(255, 0, 0, 0.733);
    border: none;
    display: flex;
    text-align: center;
    align-items: center;
    font-weight: bold;
    color: white;
    cursor: pointer;
    padding: 1em;
    height: 5vh;
    margin-top: 10px;
    border-radius: 15px;
    font-size: clamp(1rem, 1vw, 1.5rem);
    transition: all 100ms ease-in-out;
}

.debt__key-btnDelete:hover {
    transform: scale(1.1);
}

.debt__key-btnDelete:focus {
    transform: scale(0.9);
}

.debt__key-btnEdit {
    background-color: rgba(49, 49, 49, 0.733);
    border: none;
    display: flex;
    text-align: center;
    align-items: center;
    font-weight: bold;
    color: white;
    cursor: pointer;
    padding: 1em;
    height: 5vh;
    margin-top: 10px;
    border-radius: 15px;
    font-size: clamp(1rem, 1vw, 1.5rem);
    transition: all 100ms ease-in-out;
}

.debt__key-btnEdit:hover {
    transform: scale(1.1);
}

.debt__key-btnEdit:focus {
    transform: scale(0.9);
}

.clientInterface__map-btn-makeDeliver{
    font-size: clamp(1.5rem, 1.5vw, 2rem);
    margin: 0 auto;
    margin-top: .5em;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: .5rem;
    background-color: rgba(9, 122, 66, 0.836);
    color: white;
    font-weight: bold;
}
.clientInterface__map-btn-showDelivers{
    font-size: clamp(1.5rem, 1.5vw, 2rem);
    margin: 0 auto;
    margin-top: .5em;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: .5rem;
    background-color: rgba(0, 124, 173, 0.836);
    color: white;
    font-weight: bold;
}


.debt_wrapper__saldo{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    background-color:#E7EFC5;
    padding: 1rem;
    font-size: clamp(1.2rem,1.4vw,2rem);
    font-weight: bold;
    border-radius: 15px;
}
.debt_wrapper__saldo p{
    background-color: white;
    border-radius: 5px;
    padding: .5rem;
}

.debt_wrapper__h1{
    font-size: clamp(1.5rem,1.5vw,2rem);
    text-align: center;
    background-color: white;
    border-radius: 5px;
    padding: .5rem;
}
@media(min-width:1000px) {
    .debt__key {
        flex-direction: row;
        flex: auto;
        gap: 1rem;
        flex-wrap: wrap;
    }
    .debt__btns-container{
        display: flex;
        flex-direction: row;
        width: 50%;
        margin-bottom: 1rem;
        gap: 1rem;
    }
    
}

@media(max-width:1000px) {
    .debt__key-btnDelete {
        width: 50%;
        justify-content: center;
        margin: 0 auto;
    }

    .debt__key-btnEdit {
        width: 50%;
        justify-content: center;
        margin: 0 auto;
        margin-top: .5rem;

    }
    .debt__btns-container{
        display: flex;
        flex-direction: row;
        margin-bottom: 1rem;
        gap: 1rem;
    }
}

@media(max-width:768px) {
    .clientInterface__map-btn-editData {
        width: 100%;
    }

    .clientInterface__map-btn-add {
        width: 100%;
    }

    .clientInterface__map-btn-showData {
        width: 100%;
    }

    .btns-div {
        flex-direction: column;
    }

    .debt__close-btn {
        width: 100%;
    }

    .debt__key p {
        align-items: center;
        justify-content: flex-start;
    }
    .debt__btns-container{
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }

}