.custom__column-clientInterface{
    border: 2px solid #ffffff;
    margin: .5rem;
    margin-top: 2rem;
    border-radius: 15px;
}

.custom__container-productoClient{
    border: 2px solid #ffffff;
    padding: 1rem;
    margin: .5rem;
    margin-top: 1rem;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(255, 250, 250, 0.144);

}



.custom__column-clientInterface {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.table-container {
    margin-top: 20px;
}



.custom-table{
    
    background-color: white;
}

.table th, .table td {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.button.is-background-white {
    background-color: white;
}

.button.is-color-black {
    color: black;
}



.custom-column-deliverys{
    border: 2px solid black;
    border-radius: 5px;
    padding: .5rem;
    margin: .5rem;
    margin-top: 6rem;
    margin-bottom: 2rem;
    height: 565px;
    overflow: auto;
}

.custom-table-container__debts{
    overflow: auto;
    height: 300px;
    border: 2px solid black;
    border-radius: 5px;
    padding: .5rem;
}