@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";

}
html{
    overflow-x: hidden;
    background-color: #f3f5f6;
}
.custom__container-main{
    max-width: 100%;
    max-height: max-content;
    margin-bottom: 5rem;
    
}
.custom__footer{
    width: 100%;
    max-width: 100%;
    position: fixed;
    top: auto;
    left: 0;
    bottom: 10px;
    z-index: 10;
    background-color:#000000;

    
}
.custom__columns-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#000000;

}
.custom__column-footer{
    border: 1px solid black;
}

.custom__tag-container{
    display: flex;
    flex-direction: column;
    word-break: normal;
    word-spacing: normal;
    text-wrap: wrap;
    height: auto;
}
.custom__tag-container span{
    display: flex;
    flex-direction: column;
    height: auto;
    word-break: normal;
    word-spacing: normal;
    text-wrap: wrap;
    font-size: clamp(1rem, 1.2vw,1.9rem);
}

.ant-message{
    font-size: 20px;
}

.hr{
    background: white;
}

